<app-header-component></app-header-component>

<form>
  <div>
    <input
      class="form-check-input"
      type="radio"
      id="simple"
      name="rb"
      (click)="changeSelection(true)"
      checked
    />
    <label for="simple">Simple Interrest</label><br />

    <input
      class="form-check-input"
      type="radio"
      id="compound"
      name="rb"
      (click)="changeSelection(false)"
    />
    <label for="compound">Compound Interrest</label>
  </div>
  <hr />
</form>

<div *ngIf="isSelected">
  <app-simple-interest-component></app-simple-interest-component>
</div>

<div *ngIf="!isSelected">
  <app-compound-interest-component></app-compound-interest-component>
</div>
